.mdl-js {
    background-image: url(https://hcmuni.fpt.edu.vn/Data/Sites/1/News/6156/fbus.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}